html body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

h1,
h3 {
  color: #575e75;
  margin: 10px 0 0 0;
}

.App {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.bold {
  font-size: larger;
  font-weight: bold;
}

.xlarge {
  font-size: x-large;
}

.flex-row {
  display: flex;
  justify-self: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

header {
  display: flex;
  background-color: slateblue;
  color: white;
  padding: 0;
}

.header-container {
  margin: 0 auto 0 auto;
}

.header-button {
  font-size: 11pt;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.header-button:hover {
  background-color: blueviolet;
}

.search-box {
  width: 200px;
  height: 35px;
  background-color: #855cd6;
  margin: 10px;
  border-radius: 5px;
}

.search-text {
  color: lightgrey;
  padding-left: 20px;
  padding-top: 5px;
  margin: 0 auto 0 auto;
}

.upper-content {
  width: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
}

.inner-content {
  margin: auto;
}

.title {
  padding: 10px;
  margin: 0;
}

.game-container {
  display: flex;
  background-color: white;
  flex-direction: column;
}

.game-window {
  color: white;
  width: 50%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.game-note-container {
  width: 50%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.game-note {
  height: 50%;
  margin: 0.5rem;
}

.description-block {
  width: 400px;
  height: 130px;
  background-color: rgba(77, 151, 255, 0.25);
  border-radius: 10px;
  border-color: rgba(77, 151, 255, 0.5);
  padding: 0.5rem;
}

.lower-content {
  width: 100%;
  background-color: rgba(77, 151, 255, 0.25);
  padding: 0;
  margin: 0;
}

.comment-container {
  width: 750px;
  margin: 0 auto 0 auto;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1rem auto 0 auto;
}

.comment-left {
  margin: 0;
}

.comment-right {
  width: 100%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-username {
  margin: 0.5rem 1rem;
}

.comment-bubble {
  width: calc(100% - 0.5rem);
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  border-color: grey;
  margin: 0.5rem;
}

.comment-body {
  margin: 1rem;
}

.comment-date {
  color: grey;
  margin: 1rem;
}

.report-button {
  color: grey;
  background-color: transparent;
  border: none;
}

.reportable:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.replies {
  margin-left: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  z-index: 2;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  margin: 0;
}

.modal-window-result {
  z-index: 2;
  width: 80%;
  height: 80%;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  margin: 0;
}

.splash-window {
  text-align: center;
}

.result-text {
  font-weight: bold;
  font-size: x-large;
  padding: 0;
  margin: 0;
}

.result-hint {
  padding: 0.5rem;
  margin: 0;
}

.slide {
  width: auto;
  max-width: 100%;
  max-height: 70%;
}

.close-button {
  font-size: x-large;
  color: #007bff;
  background-color: white;
  border: 1px solid;
  border-radius: 0.5rem;
  border-color: #007bff;
  padding: 0.5rem;
  margin: 0.5rem;
  transition-duration: 0.1s;
}

.close-button:hover {
  font-size: x-large;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.access-password {
  margin: 2rem;
}
